:root {
    /* COLORS */
    --primary-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --primary-blue-color: #2E2F42;
    --text-description-color: #434455;
    --white-background-color: #ffffff;
    --secondary-white-color: #E7E9FC;
    --text-light-color: #F4F4FD;

    /* FONT-FAMILY */           
    --primary-font-family: 'Roboto', sans-serif;
    --logo-font-family: 'Raleway', sans-serif;

    /* FONT-SIZE */
    --title-card-font-size: 20px;      

    /* FONT-WEIGHT */
    --medium-font-weight: 500;
}

/* COMMON */
/* For tegs */
body {
    background-color: var(--white-background-color);
    font-family: var(--primary-font-family);
    color: var(--text-description-color)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  /* list-style-type: none; */
}

img {
	display: block;
    max-width: 100%;
}

/* Classes */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
    width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.page-header {
    border-bottom: 1px solid var(--secondary-white-color);
}

.logo {
    margin-right: 76px;

    font-family: var(--logo-font-family);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand-color);
}

.logo-dark {
    color: var(--primary-blue-color);
}

.logo-light {
    color: var(--text-light-color);
}

.title {
    margin-bottom: 72px;

    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.045em;
    text-transform: capitalize;
    color: var(--primary-blue-color);
}

.studio-title-card {
    margin-bottom: 8px;

    text-align: center;
    font-size: var(--title-card-font-size);
    font-weight: var(--medium-font-weight);
    line-height: 1.2;
    letter-spacing: 0.025em;
    color: var(--primary-blue-color);
}

.title-card {
    margin-bottom: 8px;

    font-size: var(--title-card-font-size);
    font-weight: var(--medium-font-weight);
    line-height: 1.2;
    letter-spacing: 0.025em;
    color: var(--primary-blue-color);
}

.studio-card-description {
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-description-color);
}

.card-description {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-description-color);
}

.btn {
    padding: 12px 24px;

    cursor: pointer;

    border: 1px solid var(--secondary-white-color);
    border-radius: 4px;
    background-color: var(--text-light-color);

    text-align: center;
    font-weight: var(--medium-font-weight);
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-brand-color);
}

.btn:hover,
.btn:focus {
    border: 1px solid transparent;

    background-color: var(--pressed-state-color);
    color: var(--white-background-color);
}

/* HEADER */
.header-container {
    display: flex;
}

.navigation {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu-link {
    display: block;
    padding: 24px 0;

    font-weight: var(--medium-font-weight);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-blue-color);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--pressed-state-color);
}

.contacts {
    font-style: normal;
    align-items: center;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.contacts-item {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-description-color);
}
 
.contacts-item:hover,
.contacts-item:focus {
    color: var(--pressed-state-color);
}

/* ======== FOOTER ======== */
.footer {
    padding-top: 100px;
    padding-bottom: 100px;

    background-color: var(--primary-blue-color);
}

.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-description {
    max-width: 264px;
    
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-light-color);
}

/* ======== STUDIO ======== */
/* STUDIO HERO */
.studio-hero {
    padding-top: 188px;
    padding-bottom: 188px;

    background-color: var(--primary-blue-color);
}

.studio-hero-title {
    max-width: 496px;
    margin-right: auto;
    margin-bottom: 48px;
    margin-left: auto;
    
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white-background-color);
}

.studio-hero-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    margin-right: auto;
    margin-left: auto;

    cursor: pointer;

    border: none;
    border-radius: 4px;
    background-color: var(--primary-brand-color);
    
    text-align: center;
    font-weight: var(--medium-font-weight);
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-background-color);
}

.studio-hero-btn:hover,
.studio-hero-btn:focus {
    background-color: var(--pressed-state-color);
}

/* STUDIO ABOUT */
.studio-about {
    padding-top: 120px;
    padding-bottom: 120px;
}

.studio-about-list {
    display: flex;
    gap: 24px;
}

.studio-about-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

/* STUDIO DOING */
.studio-doing {
    padding-top: 60px;
    padding-bottom: 120px;
}

.studio-doing-list {
    display: flex;
    gap: 24px;
}

.studio-doing-item {
    border: 1px solid var(--secondary-white-color);
}

/* STUDIO TEAM */
.studio-team {
    background-color: var(--text-light-color);
}

.studio-team-list {
    display: flex;
    gap: 24px;
}

.studio-team-card {
    flex-basis: calc((100% - 3 * 24px) / 4);

    border-radius: 0 0 4px 4px;

    background-color: var(--white-background-color);
}

.team-card-text {
    padding: 32px 0;
}

/* ======== PORTFOLIO ======== */
.portfolio-hero {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-filter {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-card {
    flex-basis: calc((100% - 2 * 24px) / 3);
}

.portfolio-card-text {
    padding: 32px 16px;

    border: 1px solid var(--secondary-white-color);
    border-top: none;
}