// ========== UTILS
@import "./utils/_variables.styl";

// ========== BASE
@import "./base/_common.styl";
@import "./base/_container.styl";
@import "./base/_section.styl";

// ========== COMPONENTS
@import "./components/_logotype.styl";
@import "./components/_title.styl";
@import "./components/_description.styl";
@import "./components/_buttons.styl";
@import "./components/_social-links.styl";

// ========== LAYOUT
@import "./layout/_header.styl";
@import "./layout/_mobile-menu.styl";
@import "./layout/_studio-hero.styl";
@import "./layout/_modal-window.styl";
@import "./layout/_studio-about.styl";
@import "./layout/_studio-we-doing.styl";
@import "./layout/_studio-team.styl";
@import "./layout/_studio-clients.styl";
@import "./layout/_footer.styl";