/* ================== FOOTER ================== */
.footer {
    padding-top: 100px;
    padding-bottom: 100px;

    background-color: var(--primary-blue-color);
}

/* Mobile */
@media screen and (max-width: 767px) {

    .footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 72px;
    }

    .footer .logo {
        display: inline-block;
        margin-bottom: 16px;
    }

    .footer-block-description {
        text-align: center;
    }

    .footer-description {
        max-width: 268px;

        text-align: left;
        
        line-height: 1.5;
        letter-spacing: var(--primary-letter-spacing);
        color: var(--text-light-color);
    }

    .footer-social-common {
        margin-bottom: 16px;

        text-align: center;

        font-family: var(--primary-font-family);
        font-weight: var(--medium-font-weight);
        line-height: 1.5;
        letter-spacing: var(--primary-letter-spacing);
        color: var(--white-background-color);
    }

    .footer-socials-list {
        display: flex;
        gap: 16px;
    }

    .footer-social-icon {
        width: 24px;
        height: 24px;
        flex-shrink: 0;

        fill: var(--text-light-color);
    }

    .footer-form-description {
        display: block;
        margin-bottom: 16px;

        text-align: center;

        font-family: var(--primary-font-family);
        font-weight: var(--medium-font-weight);
        line-height: 1.5;
        letter-spacing: var(--primary-letter-spacing);
        color: var(--white-background-color);
    }

    .footer-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .footer-form-input {
        width: 398px;
        height: 40px;
        flex-shrink: 0;
        padding-left: 16px;

        background-color: transparent;

        border-radius: 4px;
        border: 1px solid var(--white-background-color);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

        font-size: var(--form-label-font-size);
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--white-background-color);
    }

    .footer-form-input::placeholder {
        font-size: var(--form-label-font-size);
        line-height: 2;
        letter-spacing: 0.03em;
        color: var(--white-background-color);
    }

    .footer-form-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 165px;
        height: 40px;
        padding: 8px 24px;

        cursor: pointer;

        border: none;
        border-radius: 4px;
        background-color: var(--primary-brand-color);
        
        font-weight: var(--medium-font-weight);
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--white-background-color);

        transition: background-color 250ms var(--timing-function);
    }

    .footer-form-btn-icon {
        margin-left: 16px;
    }
}

/* Mobile-min */
@media screen and (min-width: 320px) and (max-width: 427px) {
    
    .footer-form-input {
        width: 290px;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {

    .footer .container {
        display: flex;
        flex-wrap: wrap;
        width: 584px;
        align-items: baseline;
        gap: 72px 24px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer .logo {
        display: inline-block;
        margin-bottom: 16px;
    }

    .footer-description {
        max-width: 264px;
        
        line-height: 1.5;
        letter-spacing: var(--primary-letter-spacing);
        color: var(--text-light-color);
    }

    .footer-social-common {
        margin-bottom: 16px;

        font-family: var(--primary-font-family);
        font-weight: var(--medium-font-weight);
        line-height: 1.5;
        letter-spacing: var(--primary-letter-spacing);
        color: var(--white-background-color);
    }

    .footer-socials-list {
        display: flex;
        gap: 16px;
    }

    .footer-social-icon {
        width: 24px;
        height: 24px;
        flex-shrink: 0;

        fill: var(--text-light-color);
    }

    .footer-form-description {
        display: block;
        margin-bottom: 16px;

        font-family: var(--primary-font-family);
        font-weight: var(--medium-font-weight);
        line-height: 1.5;
        letter-spacing: var(--primary-letter-spacing);
        color: var(--white-background-color);
    }

    .footer-form {
        display: flex;
        gap: 24px;
    }

    .footer-form-input {
        width: 264px;
        height: 40px;
        flex-shrink: 0;
        padding-left: 16px;

        background-color: transparent;

        border-radius: 4px;
        border: 1px solid var(--white-background-color);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

        font-size: var(--form-label-font-size);
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--white-background-color);
    }

    .footer-form-input::placeholder {
        font-size: var(--form-label-font-size);
        line-height: 2;
        letter-spacing: 0.03em;
        color: var(--white-background-color);
    }

    .footer-form-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 165px;
        height: 40px;
        padding: 8px 24px;

        cursor: pointer;

        border: none;
        border-radius: 4px;
        background-color: var(--primary-brand-color);
        
        font-weight: var(--medium-font-weight);
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--white-background-color);

        transition: background-color 250ms var(--timing-function);
    }

    .footer-form-btn-icon {
        margin-left: 16px;
    }
}

/* Desktop */
@media screen and (min-width: 1158px) {

    .footer .container {
        display: flex;
        align-items: baseline;
    }

    .footer .logo {
        display: inline-block;
        margin-bottom: 16px;
    }

    .footer-block-description {
        margin-right: 120px;
    }

    .footer-description {
        max-width: 264px;
        
        line-height: 1.5;
        letter-spacing: var(--primary-letter-spacing);
        color: var(--text-light-color);
    }

    .footer-block-social {
        margin-right: 80px;
    }

    .footer-social-common {
        margin-bottom: 16px;

        font-family: var(--primary-font-family);
        font-weight: var(--medium-font-weight);
        line-height: 1.5;
        letter-spacing: var(--primary-letter-spacing);
        color: var(--white-background-color);
    }

    .footer-socials-list {
        display: flex;
        gap: 16px;
    }

    .footer-social-link.link:hover,
    .footer-social-link.link:focus {
        background-color: var(--success-messages-color);
    }

    .footer-social-icon {
        width: 24px;
        height: 24px;
        flex-shrink: 0;

        fill: var(--text-light-color);
    }

    .footer-form-description {
        display: block;
        margin-bottom: 16px;

        font-family: var(--primary-font-family);
        font-weight: var(--medium-font-weight);
        line-height: 1.5;
        letter-spacing: var(--primary-letter-spacing);
        color: var(--white-background-color);
    }

    .footer-form {
        display: flex;
        gap: 24px;
    }

    .footer-form-input {
        width: 264px;
        height: 40px;
        flex-shrink: 0;
        padding-left: 16px;

        background-color: transparent;

        border-radius: 4px;
        border: 1px solid var(--white-background-color);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

        font-size: var(--form-label-font-size);
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--white-background-color);
    }

    .footer-form-input::placeholder {
        font-size: var(--form-label-font-size);
        line-height: 2;
        letter-spacing: 0.03em;
        color: var(--white-background-color);
    }

    .footer-form-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 165px;
        height: 40px;
        padding: 8px 24px;

        cursor: pointer;

        border: none;
        border-radius: 4px;
        background-color: var(--primary-brand-color);
        
        font-weight: var(--medium-font-weight);
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--white-background-color);

        transition: background-color 250ms var(--timing-function);
    }

    .footer-form-btn:hover,
    .footer-form-btn:focus {
        background-color: var(--pressed-state-color);

        transition: background-color 250ms var(--timing-function);
    }

    .footer-form-btn-icon {
        margin-left: 16px;
    }
}
/* ================== /FOOTER ================== */