/* ================== HEADER ================== */
.header-page {
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

/* Mobile-min */
@media screen and (max-width: 427px) {
    
  .header-page {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .burger-menu-btn {
    padding: 0;
    border: none;
    background-color: transparent;

    line-height: 0;
  }

  .icon-burger-menu-btn {
    stroke: var(--primary-blue-color);
  }

  .menu {
    display: none;
  }

  .menu-link {
    font-size: 36px;
    font-weight: 700;
    line-height: calc(40 / 36);
    letter-spacing: 0.045em;
    text-transform: capitalize;
    color: var(--primary-blue-color);
  }

  .contacts {
    display: none;
  }

  .contacts-list {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
  }

  .contacts-item.tel {
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: calc(30 / 26);
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--pressed-state-color);
  }

  .contacts-item.email {
    font-size: var(--title-card-font-size);
    font-style: normal;
    font-weight: var(--medium-font-weight);
    line-height: calc(24 / 20);
    letter-spacing: 0.025em;
    color: var(--text-description-color);
  }
}

/* Mobile */
@media screen and (min-width: 428px) and (max-width: 767px) {
  .header-page {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .burger-menu-btn {
    padding: 0;
    border: none;
    background-color: transparent;

    line-height: 0;
  }

  .icon-burger-menu-btn {
    stroke: var(--primary-blue-color);
  }

  .menu {
    display: none;
  }

  .menu-link {
    font-size: 36px;
    font-weight: 700;
    line-height: calc(40 / 36);
    letter-spacing: 0.045em;
    text-transform: capitalize;
    color: var(--primary-blue-color);
  }

  .contacts {
    display: none;
  }

  .contacts-list {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
  }

  .contacts-item.tel {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--pressed-state-color);
  }

  .contacts-item.email {
    font-size: var(--title-card-font-size);
    font-style: normal;
    font-weight: var(--medium-font-weight);
    line-height: calc(24 / 20);
    letter-spacing: 0.025em;
    color: var(--text-description-color);
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .header-container {
    display: flex;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    gap: 40px;
  }

  .menu .current {
    color: var(--pressed-state-color);
  }

  .menu-link {
    position: relative;
    display: block;
    padding: 24px 0;

    font-weight: var(--medium-font-weight);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: var(--primary-letter-spacing);
    color: var(--primary-blue-color);

    transition: color 250ms var(--timing-function);
  }

  .menu-link:hover,
  .menu-link:focus {
    color: var(--pressed-state-color);

    transition: color 250ms var(--timing-function);
  }

  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    flex-shrink: 0;

    background-color: var(--pressed-state-color);
    border-radius: 2px;
  }

  .contacts {
    font-style: normal;
    align-items: center;
    margin-left: auto;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px 0;
  }

  .contacts-item {
    display: block;
    line-height: 1.5;
    letter-spacing: var(--primary-letter-spacing);

    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.04em;
    color: var(--text-description-color);

    transition: color 250ms var(--timing-function);
  }

  .contacts-item:hover,
  .contacts-item:focus {
    color: var(--pressed-state-color);

    transition: color 250ms var(--timing-function);
  }

  .mobile-menu {
    display: none;
  }

  .burger-menu-btn {
    display: none;
  }
}

/* Desktop */
@media screen and (min-width: 1158px) {
  /* Double */
  .header-container {
    display: flex;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    gap: 40px;
  }

  .menu .current {
    color: var(--pressed-state-color);
  }

  .menu-link {
    position: relative;
    display: block;
    padding: 24px 0;

    font-weight: var(--medium-font-weight);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: var(--primary-letter-spacing);
    color: var(--primary-blue-color);

    transition: color 250ms var(--timing-function);
  }

  .menu-link:hover,
  .menu-link:focus {
    color: var(--pressed-state-color);

    transition: color 250ms var(--timing-function);
  }

  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    flex-shrink: 0;

    background-color: var(--pressed-state-color);
    border-radius: 2px;
  }

  .contacts {
    font-style: normal;
    align-items: center;
    margin-left: auto;
  }

  .contacts-list {
    display: flex;
    gap: 40px;
  }

  .contacts-item {
    display: block;
    padding: 24px 0;
    line-height: 1.5;
    letter-spacing: var(--primary-letter-spacing);
    color: var(--text-description-color);

    transition: color 250ms var(--timing-function);
  }

  .contacts-item:hover,
  .contacts-item:focus {
    color: var(--pressed-state-color);

    transition: color 250ms var(--timing-function);
  }

  /* Double */
  .mobile-menu {
    display: none;
  }

  .burger-menu-btn {
    display: none;
  }
  /* /Double */
}
/* ================== /HEADER ================== */