/* ================== STUDIO DOING ================== */
/* Mobile */
@media screen and (max-width: 767px) {

    .studio-doing {
        display: none;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {

    .studio-doing {
        display: none;
    }
}

/* Desktop */
@media screen and (min-width: 1158px) {

    .studio-doing {
        padding-bottom: 120px;
    }

    .studio-doing-list {
        display: flex;
        gap: 24px;
    }

    .studio-doing-item {
        border: 1px solid var(--secondary-white-color);
    }
}
/* ================== /STUDIO DOING ================== */