/* ================== CLIENTS ================== */
/* Mobile */
@media screen and (max-width: 767px) {

    .studio-clients-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 16px;
    }

    .studio-clients-item {
        width: calc((100% - 16px) / 2);
        height: 88px;
    }

    .studio-clients-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        border-radius: 4px;
        border: 1px solid var(--icon-gray-color);

        color: var(--icon-gray-color);

        transition: color 250ms var(--timing-function),
            border-color 250ms var(--timing-function);
    }

    .studio-clients-icon {
        fill: currentColor;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {

    .studio-clients-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 72px 24px;
    }

    .studio-clients-item {
        width: 168px;
        height: 88px;
    }

    .studio-clients-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        border-radius: 4px;
        border: 1px solid var(--icon-gray-color);

        color: var(--icon-gray-color);

        transition: color 250ms var(--timing-function),
            border-color 250ms var(--timing-function);
    }

    .studio-clients-icon {
        fill: currentColor;
    }
}

/* Desktop */
@media screen and (min-width: 1158px) {

    .studio-clients-list {
        display: flex;
        gap: 24px;
    }

    .studio-clients-item {
        width: calc((100% - 120px) / 6);
        height: 88px;
    }

    .studio-clients-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        border-radius: 4px;
        border: 1px solid var(--icon-gray-color);

        color: var(--icon-gray-color);

        transition: color 250ms var(--timing-function),
            border-color 250ms var(--timing-function);
    }

    .studio-clients-link:hover,
    .studio-clients-link:focus {
        border-color: var(--pressed-state-color);
        color: var(--pressed-state-color);
    }

    .studio-clients-icon {
        fill: currentColor;
    }
}
/* ================== /CLIENTS ================== */