/* ================== DESCRIPTION ================== */
/* Mobile */
@media screen and (max-width: 767px) {

    .card-description {
        font-weight: $medium-font-weight;
        line-height: calc(24 / 16);
        letter-spacing: $primary-letter-spacing;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {

    .card-description {
        font-weight: $medium-font-weight;
        line-height: calc(24 / 16);
        letter-spacing: $primary-letter-spacing;
    }
}

/* Desktop */
@media screen and (min-width: 1158px) {

    .card-description {
        line-height: 1.5;
        letter-spacing: $primary-letter-spacing;
        color: $text-description-color;
    }
}

.studio-card-description {
    margin-bottom: 8px;

    text-align: center;
    line-height: 1.5;
    letter-spacing: $primary-letter-spacing;
    color: $text-description-color;
}
/* ================== /DESCRIPTION ================== */